force-app/main/default/flows/RP_CreateIssue-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>RiskLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Risk_Level__c</picklistField>
        <picklistObject>Issue__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Issue__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>RP_CreateIssue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RP_CreateIssue</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Issue</name>
        <label>Create Issue</label>
        <locationX>696</locationX>
        <locationY>264</locationY>
        <assignRecordIdToReference>IssueID</assignRecordIdToReference>
        <inputAssignments>
            <field>Citation_Link__c</field>
            <value>
                <elementReference>Citation_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Citation__c</field>
            <value>
                <elementReference>Citation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Received__c</field>
            <value>
                <elementReference>Date_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Summary__c</field>
            <value>
                <elementReference>Issue_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Issue_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regulator_Source_ID__c</field>
            <value>
                <elementReference>Source_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Level__c</field>
            <value>
                <elementReference>Risk_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Issue_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Issue__c</object>
    </recordCreates>
    <screens>
        <name>Enter_Issue_Values</name>
        <label>Enter Issue Values</label>
        <locationX>461</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Issue_Values_2</targetReference>
        </connector>
        <fields>
            <name>Issue_Title</name>
            <dataType>String</dataType>
            <fieldText>Issue Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Issue_Summary</name>
            <fieldText>Issue Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Received</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source</name>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source_ID</name>
            <dataType>String</dataType>
            <fieldText>Source ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Create</name>
        <label>Issue Create</label>
        <locationX>267</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Issue_Values</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <fieldText>&lt;DIV ALIGN="CENTER">&lt;FONT FACE="Arial" STYLE="font-size:28px" COLOR="#000000" LETTERSPACING="0" KERNING="0">Create Issue&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Values_2</name>
        <label>Issue Values 2</label>
        <locationX>696</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Issue</targetReference>
        </connector>
        <fields>
            <name>Citation</name>
            <dataType>String</dataType>
            <fieldText>Citation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Citation_Link</name>
            <dataType>String</dataType>
            <fieldText>Citation Link</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Risk_Level</name>
            <choiceReferences>RiskLevel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Risk Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Issue_Status</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Issue_Create</startElementReference>
    <variables>
        <name>IssueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
